<!-- home.html -->
<div class="jumbotron text-center">

<br>Add more desired Destinations:
    <form role="form">
        <div class="form-group">
            <label for="fromCities">From:</label>
            <select ng-model="from" name="fromCities" id="fromCities">
                <option value="ny">NY</option>
                <option value="tlv">TLV</option>
                <option value="nz">NZ</option>
                <option value="london">London</option>
            </select>

            <label for="toCities">To:</label>
            <select ng-model="to" name="toCities" id="toCities">
                <option value="ny">NY</option>
                <option value="tlv">TLV</option>
                <option value="nz">NZ</option>
                <option value="london">London</option>
            </select>

            <label for="seatTypes">seatType:</label>
            <select ng-model="seatType" name="seatTypes" id="seatTypes">
                <option value=1>Eco</option>
                <option value=2>Business</option>
            </select>
            <button type="submit" class="btn btn-default" ng-click="addDestination()">Add</button>
        </div>
    </form>

    <h2>Desired Destinations: </h2>
    <table border="1">
        <tr>
            <th>Remove</th>
            <th>From</th>
            <th>To</th>
            <th>Seat Type</th>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-default" ng-click="addDestination()">[+] Add</button></td>
            <td>
                <select ng-model="from" name="fromCities" id="fromCities">
                    <option value="ny">NY</option>
                    <option value="tlv">TLV</option>
                    <option value="nz">NZ</option>
                    <option value="london">London</option>
                </select>
            </td>
            <td>
                <select ng-model="to" name="toCities" id="toCities">
                    <option value="ny">NY</option>
                    <option value="tlv">TLV</option>
                    <option value="nz">NZ</option>
                    <option value="london">London</option>
                </select>
            </td>
            <td>
                <select ng-model="seatType" name="seatTypes" id="seatTypes">
                    <option value=1>Eco</option>
                    <option value=2>Business</option>
                </select>
            </td>
        </tr>
        <tr ng-repeat="x in allDesiredDestinations">
            <td>[X]</td>
            <td>{{x.from}}</td>
            <td>{{x.to}}</td>
            <td>{{x.seatType}}</td>
        </tr>
    </table>



</div>