<div class="jumbotron text-center">
    <h1>Sign-in Page</h1>

    <div class="container">
        <form role="form">
            <div class="form-group">
                <label for="email">username:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="password">
            </div>
            <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
        </form>
        <div ng-if="user.loggedin">You are now signed in.</div>
        <div ng-if="!user.loggedin && login_tries">Wrong username and/or password.</div>
        <br>

        <a style="cursor:pointer;"  ng-show="!user.loggedin && login_tries" ng-click="sendForgotPasswordLink()">Forgot your password?</a><br>
        <img src="../images/loading_spinner.gif" ng-show="showLoader">
    </div>


</div>