<!-- home.html -->
<div class="jumbotron text-center">

    <h2>Visited Destinations: </h2>

    <p ng-repeat="x in allTakenFlights"> flightNumber: {{x.flightNumber}}, ticketNumber: {{x.ticketNumber}}, nameOnTicket: {{x.nameOnTicket}}, dateOfFlight: {{x.dateOfFlight}}</p>

    <br>Add more visited Destinations:
    <form role="form">
        <div class="form-group">
            <label for="flightNumber">Flight number:</label>
            <input type="text" class="form-control" id="flightNumber" placeholder="Flight number:"
                   ng-model="flightNumber">

            <label for="ticketNumber">Ticket number:</label>
            <input type="text" class="form-control" id="ticketNumber" placeholder="Ticket number:"
                   ng-model="ticketNumber">

            <label for="nameOnTicket">Name on ticket:</label>
            <input type="text" class="form-control" id="nameOnTicket" placeholder="Name On Ticket"
                   ng-model="nameOnTicket">

            <label for="dateOfFlight">Date of flight:</label>
            <input type="text" class="form-control" id="dateOfFlight" placeholder="Date Of Flight"
                   ng-model="dateOfFlight">


            <button type="submit" class="btn btn-default" ng-click="addDestination()">Add</button>
        </div>
    </form>


</div>