<div class="contact_form_section">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Contact Form -->

                <div class="contact_form_container">
                    <div class="contact_title text-center">Sign-out</div>
                    <form id="contact_form" class="contact_form text-center">
                        <button type="submit" id="form_submit_button" class="form_submit_button button trans_200" ng-click="signOut()">Sign out<span></span><span></span><span></span></button>
                    </form>
                    <br>
                    <div class="contact_title text-center"><img style="align:center" src="../images/loading_spinner.gif" ng-show="showLoader"></div>
                    <div ng-if="user.signedin" class="contact_title text-center">You are signed in.</div>
                    <div ng-if="!user.signedin" class="contact_title text-center">You are signed out.</div>
                </div>

            </div>
        </div>
    </div>
</div>