<!-- Home -->

<!--<div class="home">
    <div class="home_content">
        <div class="home_title">contact</div>
    </div>
</div>-->

<!-- Contact -->

<div class="contact_form_section">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Contact Form -->

                    <div class="contact_form_container">
                        <div class="contact_title text-center">Log In</div>
                        <form action="#" id="contact_form" class="contact_form text-center">
                            <input type="text" id="email" placeholder="Enter email" ng-model="username" class="contact_form_name input_field" required="required" data-error="Email is required.">
                            <input type="password" id="pwd" placeholder="Enter password" ng-model="password" class="contact_form_email input_field" required="required" data-error="Password is required.">

                            <button type="submit" id="form_submit_button" class="form_submit_button button trans_200" ng-click="login()">login<span></span><span></span><span></span></button>
                        </form>
                    </div>

                <form role="form">
                    <div class="form-group">
                        <label for="email">username:</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="password">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
                </form>
                <div ng-if="user.loggedin">You are now signed in.</div>
                <div ng-if="!user.loggedin && login_tries">Wrong username and/or password.</div>

            </div>
        </div>
    </div>
</div>