<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="display-t">
					<div class="display-tc">
						<div class="row">
							<div class="col-md-8">
								<h1 class="no-margin">Your Goal</h1>
								<p ng-repeat="x in allDesiredDestinations">
									From {{x.from}}
									To {{x.to}}
									 - {{x.seatType}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="submit" class="btn btn btn-special" value="Find out" ng-click="getRecommendation()">
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END #gtco-header -->

<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
				<h2>Add new goals</h2>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<form ng-submit="addDestination()">
					<div class="form-group">
						<label>From</label>
						<airports placeholder="From" ng-model="from"></airports>
					</div>
					<div class="form-group">
						<label>To</label>
						<airports placeholder="To" ng-model="to"></airports>
					</div>

					<div class="form-group">
						<label for="seatTypes">Seat type</label>
						<select ng-model="seatType" name="seatTypes" id="seatTypes" class="dropdown_item_select search_input">
							<option value=1>ECONOMY</option>
							<option value=2>Business</option>
						</select>
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn btn-special" value="Add goal">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END .gtco-services -->