<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="display-t">
					<div class="display-tc">
						<div class="row">
							<div class="col-md-8">
								<h1 class="no-margin">Your Goal</h1>
								<p ng-repeat="x in allDesiredDestinations">
									From {{x.from}}
									To {{x.to}}
									 - {{x.seatType}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="submit" class="btn btn btn-special" value="Find out"  ng-click="getRecommendation()">
								</p>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END #gtco-header -->



<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
				<h2>Add new goals</h2>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<form>
					<md-content class="md-padding">
						<form ng-submit="$event.preventDefault()">
							<md-autocomplete placeholder="from" md-selected-item="from" md-item-text="item.name" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-min-length="0" md-delay="100">
								<md-item-template >
									<p md-highlight-text="searchText" md-highlight-flags="^i">
										{{item.country | uppercase}} - {{item.city}} - {{item.name}}
									</p>
								</md-item-template>
								<md-not-found>
									No states matching "{{searchText}}" were found.
								</md-not-found>
							</md-autocomplete>
						</form>
					</md-content>
					<!--<div class="form-group">-->
						<!--<label for="fromCities">From</label>-->
						<!--<input type="text" class="form-control" ng-model="from" name="fromCities" id="fromCities">-->
					<!--</div>-->
					<!--<div class="form-group">-->
						<!--<label for="toCities">To</label>-->
						<!--<input type="text" class="form-control"  ng-model="to" name="toCities" id="toCities" >-->
					<!--</div>-->

					<div class="form-group">
						<label for="seatTypes">Seay type</label>
						<select ng-model="seatType" name="seatTypes" id="seatTypes" class="dropdown_item_select search_input">
							<option value=1>ECONOMY</option>
							<option value=2>Business</option>
						</select>
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn btn-special" value="Add goal" ng-click="addDestination()">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END .gtco-services -->