

		


		<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
									<div class="col-md-8">
										<h1 class="no-margin">Register</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia facilis, accusamus iusto animi.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END #gtco-header -->


		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-6">
						<form action="#">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="text" class="form-control" id="email" ng-model="username" required="required" data-error="Email is required.">
							</div>
							<div class="form-group">
								<label for="pwd">Password</label>
								<input type="password" class="form-control" id="pwd" ng-model="password" required="required" data-error="Password is required.">
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn btn-special" value="Register" ng-click="signup()">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- END .gtco-services -->

		




