<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="display-t">
					<div class="display-tc">
						<div class="row">
							<div class="col-md-8">
								<h1 class="no-margin">Sign in</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia facilis, accusamus iusto animi.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END #gtco-header -->

<div class="gtco-section">
	<div class="gtco-container">
			<div class="col-md-6">
				<form ng-submit="signIn()" name="signinForm">
					<div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid && signinForm.email.$touched }">
						<label for="email">Email*</label>
						<input type="email" ng-model="email" id="email" name="email" ng-pattern="EMAIL_REGEXP" ng-model-options="{ debounce: 200 }" required class="form-control">
						<span style="color:red" ng-show="signinForm.email.$invalid && signinForm.email.$dirty">
							<span ng-show="signinForm.email.$error.required">Email is required.</span>
							<span ng-show="signinForm.email.$error.pattern">Email is not valid.</span>
						</span>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid && signinForm.password.$touched }">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" ng-model="password" ng-pattern="STRONG_PASS_REGEXP" ng-model-options="{ updateOn: 'blur' }"  required class="form-control">
						<span style="color:red" ng-show="signinForm.password.$invalid && signinForm.password.$touched">
							<span ng-show="signinForm.password.$error.required">Password is required.</span>
							<span ng-show="signinForm.password.$error.pattern">
								Password is weak. Please reset it and try again.
							</span>
						</span>
					</div>
					<span style="color:red" ng-show="signinErrorMessage">{{signinErrorMessage}}</span>
					<div class="form-group">
						<input type="submit" class="btn btn btn-special" value="Signin" ng-disabled="showLoader">
						<img src="images/loader.gif" ng-show="showLoader">
					</div>
				</form>
				<div ng-click="sendForgotPasswordLink()">
					<u>Forgot Your password?</u>
					<span ng-show="showForgotPasswordSentMessage">Check your email for instructions.</span>
				</div>
			</div>
	</div>
</div>
<!-- END .gtco-services -->






