<div class="contact_form_section">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Contact Form -->

                <div class="contact_form_container">
                    <div class="contact_title text-center">Forgot Password Page</div>
                    <form id="contact_form" class="contact_form text-center">
                        <input type="password" id="password1" placeholder="Enter password" ng-model="password1" class="contact_form_name input_field" required="required" data-error="Password is required.">
                        <input type="password" id="password2" placeholder="Re-enter password" ng-model="password2" class="contact_form_email input_field" required="required" data-error="Password is required.">

                        <button type="submit" id="form_submit_button" class="form_submit_button button trans_200" ng-click="changePassword()">Update password<span></span><span></span><span></span></button>
                    </form>
                    <br>
                    <div class="contact_title text-center"><img style="align:center" src="../images/loading_spinner.gif" ng-show="showLoader"></div>
                    <div ng-if="message" class="contact_title text-center">{{message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
