<div class="super_container">

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="../images/about_background.jpg"></div>
		<div class="home_content">
			<div class="home_title">Visited Destinations</div>
			<div ng-if="mostBeneficialAirline" class="home_title">Recomended: {{mostBeneficialAirline}}</div>
		</div>
	</div>

	<!-- Search -->

	<div class="search">
		<div class="search_inner">

			<!-- Search Contents -->

			<div class="container fill_height no-padding">
				<div class="row fill_height no-margin">
					<div class="col fill_height no-padding">

						<!-- Search Panel -->
						<table border="1">
							<tr>
								<th>Remove</th>
                                <th>From</th>
                                <th>To</th>
								<th>Flight number</th>
								<th>Ticket number</th>
								<th>Name on ticket</th>
								<th>Date of flight</th>
                                <th>Seat Type</th>
							</tr>
							<tr>
								<td><button type="submit" class="button search_button" ng-click="addDestination()">[+] Add<span></span><span></span><span></span></button></td>
								<td class="search_item">
									<input type="text" class="destination search_input" id="from" placeholder="From:" ng-model="from" required="required">
								</td>
								<td class="search_item">
									<input type="text" class="destination search_input" id="to" placeholder="To:" ng-model="to" required="required">
								</td>
								<td class="search_item">
									<input type="text" class="destination search_input" id="flightNumber" placeholder="Flight number:" ng-model="flightNumber" required="required">
								</td>
								<td class="search_item">
									<input type="text" class="destination search_input" id="ticketNumber" placeholder="Ticket number:" ng-model="ticketNumber" required="required">
								</td>
								<td class="search_item">
									<input type="text" class="destination search_input" id="nameOnTicket" placeholder="Name On Ticket" ng-model="nameOnTicket" required="required">
								</td>
								<td class="search_item">
									<input type="text" class="destination search_input" id="dateOfFlight" placeholder="Date Of Flight" ng-model="dateOfFlight" required="required">
								</td>
								<td class="search_item">
									<input type="text" class="destination search_input" id="seatType" placeholder="Seat Type:" ng-model="seatType" required="required">
								</td>
							</tr>
							<tr ng-repeat="x in allTakenFlights">
								<td>[X]</td>
                                <td>{{x.from}}</td>
                                <td>{{x.to}}</td>
								<td>{{x.flightNumber}}</td>
								<td>{{x.ticketNumber}}</td>
								<td>{{x.nameOnTicket}}</td>
								<td>{{x.dateOfFlight}}</td>
                                <td>{{x.seatType}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Offers -->

	<div class="offers">

		<!-- Offers -->

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Offers Grid -->

					<div class="offers_grid">

						<!-- Offers Item -->

						<div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@kensuarez -->
										<div class="offers_image_background" style="background-image:url(../images/offer_1.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">grand castle</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">$70<span>per night</span></div>
										<div class="rating_r rating_r_4 offers_rating" data-rating="4">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Lorem ipsum dolor sit amet.</p>
										<div class="offers_icons">
											<ul class="offers_icons_list">
												<li class="offers_icons_item"><img src="../images/post.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/compass.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/bicycle.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/sailboat.png" alt=""></li>
											</ul>
										</div>
										<div class="button book_button"><a href="#">book<span></span><span></span><span></span></a></div>
										<div class="offer_reviews">
											<div class="offer_reviews_content">
												<div class="offer_reviews_title">very good</div>
												<div class="offer_reviews_subtitle">100 reviews</div>
											</div>
											<div class="offer_reviews_rating text-center">8.1</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_3">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@thoughtcatalog -->
										<div class="offers_image_background" style="background-image:url(../images/offer_5.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">eurostar hotel</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">$50<span>per night</span></div>
										<div class="rating_r rating_r_3 offers_rating" data-rating="3">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Lorem ipsum dolor sit amet.</p>
										<div class="offers_icons">
											<ul class="offers_icons_list">
												<li class="offers_icons_item"><img src="../images/post.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/compass.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/bicycle.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/sailboat.png" alt=""></li>
											</ul>
										</div>
										<div class="button book_button"><a href="#">book<span></span><span></span><span></span></a></div>
										<div class="offer_reviews">
											<div class="offer_reviews_content">
												<div class="offer_reviews_title">very good</div>
												<div class="offer_reviews_subtitle">100 reviews</div>
											</div>
											<div class="offer_reviews_rating text-center">8.1</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_5">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@mindaugas -->
										<div class="offers_image_background" style="background-image:url(../images/offer_6.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">grand castle</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">$110<span>per night</span></div>
										<div class="rating_r rating_r_5 offers_rating"  data-rating="5">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Lorem ipsum dolor sit amet.</p>
										<div class="offers_icons">
											<ul class="offers_icons_list">
												<li class="offers_icons_item"><img src="../images/post.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/compass.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/bicycle.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/sailboat.png" alt=""></li>
											</ul>
										</div>
										<div class="button book_button"><a href="#">book<span></span><span></span><span></span></a></div>
										<div class="offer_reviews">
											<div class="offer_reviews_content">
												<div class="offer_reviews_title">very good</div>
												<div class="offer_reviews_subtitle">100 reviews</div>
											</div>
											<div class="offer_reviews_rating text-center">8.1</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@rktkn -->
										<div class="offers_image_background" style="background-image:url(../images/offer_7.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">eurostar hotel</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">$50<span>per night</span></div>
										<div class="rating_r rating_r_4 offers_rating" data-rating="4">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Lorem ipsum dolor sit amet.</p>
										<div class="offers_icons">
											<ul class="offers_icons_list">
												<li class="offers_icons_item"><img src="../images/post.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/compass.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/bicycle.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/sailboat.png" alt=""></li>
											</ul>
										</div>
										<div class="button book_button"><a href="#">book<span></span><span></span><span></span></a></div>
										<div class="offer_reviews">
											<div class="offer_reviews_content">
												<div class="offer_reviews_title">very good</div>
												<div class="offer_reviews_subtitle">100 reviews</div>
											</div>
											<div class="offer_reviews_rating text-center">8.1</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_3">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@itsnwa -->
										<div class="offers_image_background" style="background-image:url(../images/offer_8.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">grand castle</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">$90<span>per night</span></div>
										<div class="rating_r rating_r_3 offers_rating" data-rating="3">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Lorem ipsum dolor sit amet.</p>
										<div class="offers_icons">
											<ul class="offers_icons_list">
												<li class="offers_icons_item"><img src="../images/post.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/compass.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/bicycle.png" alt=""></li>
												<li class="offers_icons_item"><img src="../images/sailboat.png" alt=""></li>
											</ul>
										</div>
										<div class="button book_button"><a href="#">book<span></span><span></span><span></span></a></div>
										<div class="offer_reviews">
											<div class="offer_reviews_content">
												<div class="offer_reviews_title">very good</div>
												<div class="offer_reviews_subtitle">100 reviews</div>
											</div>
											<div class="offer_reviews_rating text-center">8.1</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</div>